* {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

body {
  width: 100vw;
  height: 100vh;
  align-content: center;
  background: linear-gradient(45deg, #1A1A1D, #5D5D60);
}

#button {
  box-shadow: 0 10px 10px #000;
  cursor: pointer;
  margin-top: 450px;
  padding: 30px;
  color: #000000;
}

#card {
  border-radius: 12px;
  box-shadow: 0 10px 10px black;
  height: 336px;
  width: 240px;
}
#oracle, #typeLine, #name, #mana {
  width:50vw;
  padding-top: 10px;
}
